
@using ModelViews.Enum
@using ModelViews
@{
    var categories = (List<CategoryMv>)ViewBag.Categories;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <!-- Page level plugins -->
    <script src="@Url.Content("~/")vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/")vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Category</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="@Url.Action("Create")" class="btn btn-success text-white">Add new</a>
    </div>
    <div class="card-body">
        <div class="table-responsive ">
            <div class="container-fluid row">
                <div class="col-md-6">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>#</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var category in categories.Where(x => x.CategoryParent == TypeCategories.Parent))
                            {
                                <tr>
                                    <td>@category.Name</td>
                                    <td>
                                        <a class="btn btn-outline-danger" href="@Url.Action("Delete","Category", new {id =category.Id})"><i class="fas fa-trash-alt"></i></a>
                                        <a class="btn btn-outline-warning" href="@Url.Action("DetailParent","Category", new {id =category.Id})"><i class="fas fa-info-circle"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Parent Name</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name Name</th>
                                <th>Parent</th>
                                <th>#</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @*@foreach (var category in categories.Where(x => x.CategoryParent == TypeCategories.Child))
                                {
                                    if (category.CategoryDataParent != null)
                                    {
                                        <tr>
                                            <td>@category.Name</td>
                                            <td>@category.CategoryDataParent.Name</td>
                                            <td>
                                                <a class="btn btn-outline-danger" href="@Url.Action("Delete","Category", new {id =category.Id})"><i class="fas fa-trash-alt"></i></a>
                                                <a class="btn btn-outline-warning" href="@Url.Action("DetailChild","Category", new {id =category.Id})"><i class="fas fa-info-circle"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
